.git
.github
node_modules
**/node_modules
**/dist
**/target
**/.env
**/.env.*
!**/.env.example
**/*.log
**/.vscode
**/.idea
**/.aider*
**/coverage
**/test
**/*.md
!README.md
functions/ms-business/firebase-service-account.json
functions/ms-security/src/main/resources/firebase-service-account.json
